@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
:root {
    --primary-color: #fde047; 
    --blue: #1d4ed8; 
    --off-white: #d4d4d8; 
}
body {
    font-family: 'Playfair Display', 
    serif;
    margin: 0px 0px;
}
hr {
    margin: 2rem 0rem;
}
.container {
    padding: 0rem 1rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
    color: var(--blue); 
    font-size: 1.1rem;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: white; 
    border-radius: 10% / 50%; 
    color: var(--blue);
    font-weight: bold;
    font-size: 1.1rem;
}
.link-secondary {
    color: var(--blue);
    background-color: white;
    border-radius: 10% / 50%; 
    border: 1px solid var(--blue);
}
.list-non-bullet {
    list-style: none;
    margin-left: 0px; 
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    font-size:1.1rem;
}
.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-pills {
    text-align: right;
}
.navigation .nav-brand {
    font-weight: bold;
    color: #1d4ed8;
    font-size: 1.2rem;
}
.navigation .link {
    color: #1d4ed8;
}
.navigation .link-active {
    font-weight: bold;
}
.hero {
    padding: 2rem;
}
.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading {
    padding-top: 1rem;
    text-align: center;
    color: var(--blue);
}
.hero .hero-heading .heading-inverted {
    color: #4b5563; 
}
.section {
    padding: 2rem;
    background-color: var(--primary-color);
}
.section h1 {
    text-align: center;
}
.ow {
    background-color: var(--primary-color);
}
.footer {
    background-color: white; 
    padding: 2rem 1rem;
    text-align: center;
    color: var(--blue); 
    border-top-right-radius: 1rem;
}
.footer .link {
    color: var(--blue);
}
.footer ul {
    padding-inline-start: 0px;
}
.case-center {
    text-align: center;
    background-color: #fde047;
    padding: 1.4rem 0rem;
}
.case-center .link-primary {
    margin-right: 0.5rem;
}
.case-center .link-secondary {
    margin-left: 0.5rem;
}
.bowl {
    padding: 0rem 1rem;
    background-color: #fde047;
}
.bowl-center {
    max-width: 600px;
    margin: auto; 
    color: var(--blue);
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.read {
    text-decoration: none;
}
.list-non-bullet .case {
    color: #1d4ed8;
}